[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WMWssp"]
	path = WMWssp
	url = https://github.com/happma/wmwssp
[submodule "pseudorank"]
	path = pseudorank
	url = https://github.com/happma/pseudorank
